* {
    font-family: Helvetica, sans-serif;
}

#main {
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(../images/pattern.jpeg);
}

.title2 {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frame {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.price {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

h3 {
    font-weight: bold;
}